.menu-link {
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: rgba(45, 115, 199, 0.97);
}

.action {
    background-color: #fff877;
    color: #6d6d6d;
    padding: 12px 32px;
    border-radius: 988px;
    border-color: #fecf08;
    border-width: 519px;
    font-size: 1.3rem;
    font-weight: bold;
}

.action:hover {
    color: #000000;
}

.citation {
}

.citation-phrase {
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    background-color: #0020bd;
    margin-bottom: .2rem;
}

.citation-auteur {
    color: #ff9d00;
    background-color: #ffffff;
    text-align: right;
}

background-image {
}

h3 {
    text-align: left;
}

.nav-link {
}

.navbar-light .navbar-nav a.nav-link {
    color: #004aad;
    font-weight: bold;
    font-size: 1.3em;
}

h2 {
    background-position: left top;
    background-repeat: repeat;
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    background-color: #5071fc;
    font-size: 1.7rem;
}

.hero-mobile {
}

@media (min-width:768px) {
    .hero-desktop {
        min-height: 50vh;
        align-items: flex-start;
    }
}

.hero-desktop {
}

section {
    background-repeat: no-repeat;
}

.mobile-margin {
    margin-left: 0.6em;
    margin-right: 0.6em;
}

.logos {
}

.logos img {
    max-height: 200px;
    max-width: 200px;
}

.logos div {
    height: 216px;
    width: 216px;
    display: inline-block;
}