.menu-link {
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: rgba(45, 115, 199, 0.97);
}

.action {
    background-color: #d004b8;
    color: white;
    padding: 8px 18px;
    border-radius: 20px;
    border-color: #fecf08;
    border-width: 30px;
    margin-top: 8px;
    margin-bottom: 28px;
    font-size: 1.3rem;
}

.action:hover {
    color: #ffffff;
}

.citation {
    margin-left: 1rem;
    margin-right: 1rem;
}

.citation-phrase {
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    background-color: #28214e;
    margin-bottom: .2rem;
}

.citation-auteur {
    color: #ff9d00;
    background-color: #ffffff;
    text-align: right;
}

h2 {
    padding-top: 1.2rem;
}

h3 {
    text-align: left;
}

.nav-link {
}

.navbar-light .navbar-nav a.nav-link {
    color: #273b77;
}

h2 {
    background-position: left top;
    color: #ff9801;
    background-repeat: repeat;
    text-align: center;
    padding-bottom: 0.7em;
    background-image: -webkit-linear-gradient(140deg, rgb(40, 33, 78) 0%, rgb(57, 52, 96) 9.16335%, rgb(40, 33, 78) 98%);
}